.App {
  margin: 0;
  padding: 0;
}

.Login{
  background-color: red;
  text-align: center;
  margin-top: 10%;
  margin-left: 40%;
  max-width: 10%; 
}

.Home{
  text-align: center;
  margin-left: 90%;
  
}

.button{
  margin-top: 4%;
}

.usuario{
  margin-top: 2%;
}

.senha{
  margin-top: 2%;
  margin-left: 4%;
}